@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* Light Mode */
body {
  background-color: white;
  color: black;
}

/* Dark Mode */
body.dark {
  background-color: #000000;
  color: white;
}